<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About this website</title>
</head>
<body>
<h2>Hope you like the word counter, have fun!</h2>

a href="{% url 'home' %}"><h3>Return to Home</h3></a>
</body>
</html>