<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Count</title>
</head>
<body>
<a href="{% url 'home' %}">Start Again </a>   |
<a href="{% url 'about' %}">About</a>

<br/>
<h2> Total Count:</h2>
<p>There are {{totalcount}} words in you text</p>

<h3>Original text:</h3>
{{fulltext}}

<h3>Word Count:</h3>
<!--{{worddict}}-->

{% for word, wordcount in worddict %}
{{word}}-{{wordcount}}

{% endfor %}

<h3>Sorted Word Count:</h3>

{% for word, wordcount in sortedword %}
{{word}}-{{wordcount}}

{% endfor %}
</body>
</html>