<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Count Home Page</title>
</head>
<body>
<a href="{% url 'about' %}"><h3>About</h3></a>

<h2> WORD COUNTER </h2>

<a href="http://www.abrahamlincolnonline.org/lincoln/speeches/gettysburg.htm" target="_blank"><h4>The Gettysburg Address:</h4></a>
<p>Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal...</p>
<br/>

<form action="{% url 'count' %}" >
    <!--{% csrf_token %}-->
    <textarea cols="40" rows="5" name="fulltext" placeholder="Enter your text or copy & paste The Gettysburg Address, click count and have fun!"></textarea>
    <br/>
    <input type="submit" value="Count!" />


</form>
</body>
</html>